#menu.nowrap
  =link_title
  =link_new
  %span#weight
    =link_to 'Complexity', '/drawings/index/complexity', class: ("complexity " + (@field == 'complexity' ? 'current' : ''))
    =link_to 'Popularity', '/drawings/index/likes', class: ("likes " + (@field == 'likes' ? 'current' : ''))
    =link_to 'Freshness', '/drawings/index/updated_at', class: ("updated_at " + (@field == 'updated_at' ? 'current' : ''))
.browse
  -20.times do
    -@drawings.each do |d|
      =link_to d.camel_name, d, class: "weight#{@weight[d.id]} #{@field}", data: {id: d.id}
#balloon{style: 'display:none'}
