#menu
  =link_title
  =link_new
  %span#weight
    =link_to 'Complexity', '/drawings/index/complexity', class: ("complexity " + (@field == 'complexity' ? 'current' : ''))
    =link_to 'Popularity', '/drawings/index/likes', class: ("likes " + (@field == 'likes' ? 'current' : ''))
.box
  -@drawings.each do |d|
    =link_to d.camel_name, drawing_path(d), class: "weight#{@weight[d.id]} #{@field}"
