#menu
  =link_to "New", '/', class: 'check_if_dirty'
  =link_to "Save", '', id: 'save'
  =link_to "Browse", drawings_path, class: 'check_if_dirty'
#background
.circle.prototype{style: 'display:none'}
.square.prototype{style: 'display:none'}
-@sprites.each do |s|
  %div{class: s.s == 0 ? 'circle' : 'square', style: "top: #{s.t}px; left: #{s.l}px; height: #{s.d}px; width: #{s.d}px"}
