#menu
  #here{style: 'display:none'}=@drawing.to_param
  %span{id: 'likes', style: @drawing.likes == 0 ? 'display:none' : ''}=@drawing.likes
  =link_to "<i class='fa fa-thumbs-o-up'></i>".html_safe, '', id: 'like', class: @liked ? 'liked' : ''
  =link_to @drawing.camel_name, '', class: 'check_if_dirty', id: 'name'
  %span{id: 'based_on', style: @based_on ? '' : 'display:none'} Based on:
  =link_to @based_on ? @based_on.camel_name : '', @based_on || '', id: 'based_on_link'
  =link_to "New", '/', class: 'check_if_dirty'
  =link_to "Save", '', id: 'save'
  =link_to "Browse", drawings_path, class: 'check_if_dirty'
#background
.circle.prototype{style: 'display:none'}
.square.prototype{style: 'display:none'}
-@sprites.each do |s|
  %div{class: s.s == 0 ? 'circle' : 'square', style: "top: #{s.t}px; left: #{s.l}px; height: #{s.d}px; width: #{s.d}px"}
