#menu
  =link_to "New", '/', class: 'check_if_dirty'
  =link_to "Save", '', id: 'save'
  =link_to "Browse", drawings_path, class: 'check_if_dirty'
#background
  #intro
    #heading Circles and Squares!
    .item Click to make a circle.
    .item Shift-click to make a square.
    .item While you are inside a shape it will grow.
    .item If you leave a shape it will stop growing.
    .item When shapes touch they will stop growing.
    .item Click a shape to pop it!
.circle.prototype{style: 'display:none'}
.square.prototype{style: 'display:none'}
