*
  cursor: crosshair

#background
  position: absolute
  top: 0
  left: 0
  height: 10000px
  width: 10000px

.circle, .square
  height: 1px
  width: 1px
  border: 2px solid black
  position: absolute

.circle
  border-radius: 50%
