$light-blue: #9dd3cd
$dark: #3d372a
$light-brown: #b28249
$brown: #72583d
$tan: #e6d3b4
$grey: #878574
$brown2: #be9f73
$stone: #95a59f
$green: #749c94
$likes: green
$complexity: #CC2527
$updated_at: blue
  

*
  padding: 0
  margin: 0

body
  background-color: $tan
  font-family: 'Ribeye Marrow', cursive
  font-size: 1.3em
  min-width: 865px
  overflow: auto

#menu, #user
  padding: 1em 1em 1em 3em
  position: fixed
  z-index: 100
  background-color: transparentize($tan, .2)
  top: 0
  white-space: nowrap


#menu
  text-align: left
  left: 0

.nowrap
  white-space: nowrap

#user
  right: 0
  position: fixed
  padding: 1em 3em 1em 1em
  @media only screen and (max-width: 865px)
    right: inherit
    left: 700px
    


.browse
  float: right
  margin: 4em 3em 0 3em
  text-align: justify
  overflow: auto

a#title
  font-weight: bold
  color: $dark
  margin-right: 1em

a#name
  text-decoration: underline

#weight
  margin: 0 1em
  a.complexity
    color: $complexity
    &:hover
      color: darken($complexity, 10%)
  a.likes
    color: $likes
    &:hover
      color: darken($likes, 10%)
  a.updated_at
    color: $updated_at
    &:hover
      color: darken($updated_at, 10%)
  a.current
    text-decoration: underline

#likes, #based_on
  margin-right: .3em
    
a#like.liked
  color: $green

a
  margin-left: -5px
  padding: 0 .3em
  text-decoration: none
  color: $brown
  &:hover
    color: $dark
#user a
  color: $dark
  &:hover
    color: $green

#background, .circle, .square, #intro
  cursor: crosshair

#background
  height: 10000px
  width: 10000px

#intro
  margin: 3em
  color: $dark
#heading
  font-size: 2.5em
.item
  font-size: 1.3em

.circle, .square, .circle_demo, .square_demo
  height: 1px
  width: 1px
  border: 2px solid $dark
  position: absolute

.circle, .circle_demo
  border-radius: 50%

.circle_demo
  top: 20px
  left: -50px
  width: 4000px
  height: 4000px

.square_demo
  top: -242px
  left: -2px
  width: 700px
  height: 700px

@for $i from 0 through 10
  a.likes.weight#{$i}
    color: mix($likes, #bbb, $i * 10%)
    &:hover
      color: $dark
  a.complexity.weight#{$i}
    color: mix($complexity, #bbb, $i * 10%)
    &:hover
      color: $dark
  a.updated_at.weight#{$i}
    color: mix($updated_at, #bbb, $i * 10%)
    &:hover
      color: $dark
